@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    font-family: "poppins" sans-serif;
}

:root{
    --bg-color: #702525;
    --text-color:#333;
    --main-color: hsl(29, 97%, 49%);;
    --white-color:#fdfdfd;
    --shadow-color: rgba(0,0,0,.2);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
}
 
section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
    overflow-x: hidden;
}


/* =====================HOME STYLING=================== */
.heading{
    font-size: 40px;
    font-weight: 600;
    color: hsl(29, 97%, 49%);
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(/assets/img/bg.png);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}
.container{
    padding: 10px 10%; 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: var(--white-color);
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0px;
    height: 3px;
    background: hsl(29, 97%, 49%);
    box-shadow: 0 .8rem .10rem var(--shadow-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    color: var(--white-color);
    font-weight: 600;
}

.header-text h1{
    font-style: 60px;
    margin-top: 20px;
    color: var(--white-color);
    font-weight: 600;
}

.header-text h1 span{
    color: hsl(29, 97%, 49%);
}


/* =====================SOCIAL MEDIA ICONS================ */
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: 1s ease;
}

.social-icons a:hover{
    background: var(--main-color);
    color: var(--white-color);
}

/* ==================BTN STYLING START=======================*/
.btn:hover{
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0. 2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}


/* =======================ABOUT STYLING================================= */
#about{
    padding: 80px 0;
    color: #ababab;
    background: #080808;

}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px; 
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: hsl(29, 97%, 49%);
}

.tab-title{
    display: flex;
    margin: 20Px 0 40px;
}
.tab-link{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-link::after{
    content: '';
    width: 0;
    height: 3px;
    background: hsl(39, 94%, 37%);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0 5s;
}

.tab-link.active-link::after{
    width: 50px;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}
.tab-contents ul li span{
    color: hsl(39, 94%, 37%);
    font-size: 18px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}



/* =======================SERVICE SECTION============================ */
.services{
    min-height: auto;
    padding-bottom: 7rem;
    overflow: hidden;
}
.services h2{
    margin-bottom: 5rem;
}
.services .services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .service-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}
.services-container .service-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}
.service-box i{
    font-size: 7rem;
    color: var(--main-color);
}
.service-box h3{
    font-size: 2.6rem;
    transition: 1s ease;
}
.service-box:hover h3{
    color: var(--main-color);
}
.service-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* ========================PORTFOLIO SECTION===================== */
.portfolio{
    padding-bottom: 10rem;
    overflow: hidden;
}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}
.portfolio-container .portfolio-box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 1rem;
    opacity: 0;
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
    opacity: 1;
}
.portfolio-layer h4{
    font-size: 4rem;
}
.portfolio-layer P{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}
.portfolio-layer a i{
    font-size: 2rem;
    color: var(--text-color);
}


/*=======================TESTIMONIAL design SECTION=================*/
.testimonial-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 5rem 1rem;
}
.testimonial-container .testimonial-wrapper{
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
}
.testimonial-wrapper .testimonial-box{
    padding: 1rem;
    border-radius: 2rem;
    overflow: hidden;
}
.testimonial-content .testimonial-slide{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem .8rem solid var(--main-color);
    /* border-bottom: .8rem solid var(--main-color); */
}
.testimonial-slide img{
    width: 14rem;
    height: 14rem;
    object-fit: cover;
    border-radius: 50%;
    border: .5rem solid var(--bg-color);
    outline: .5rem solid var(--main-color);
}
.testimonial-slide:hover{
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: #fdfdfd;
    transition: .5s ease;
}
.testimonial-slide h3{
    font-size: 2.5rem;
    margin: 2rem 0;
}
.testimonial-slide p{
    font-size: 1.4rem;
    text-align: center;
}
.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
    color: var(--main-color);
}
.testimonial-box .swiper-button-next{
    right: 0;
}
.testimonial-box .swiper-button-prev {
    left: 0;
}
.testimonial-box .swiper-pagination-bullet{
    background: rgba(0, 0, 0, .8);
}
.testimonial-box .swiper-pagination-bullet-active{
    background: var(--main-color);
}

/*========================CONTACT design============================*/
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}

/*========================FOOTER DESIGN========================*/
.footer{
    background: var(--main-color);
}
.footer-text{
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--white-color);

}
#currentYear{
    font-size: 1.6rem;
    color: var(--white-color);
}

/*=============== SCROLL UP ===============*/
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background: var(--container-color);
    display: inline-flex;
    padding: 6px;
    font-size: 1.5rem;
    color: var(--title-color);
    border-radius: .25rem;
    box-shadow: 0 4px 16px hsla(0, 0%, 0%, .1);
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s, background .4s;
  }
  
  .scrollup:hover{
    transform: translateY(-.25rem);
  }
  
  /* Show Scroll Up */
  .show-scroll{
    bottom: 3rem;
  }
  

/* =========================BREAKPOINTS================================ */
@media (max-width: 1200px){
    html{
        font-size: 55%;
    }
    
}

@media (max-width: 1024px) {
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
   
}

@media (max-width: 991px) {
    /* body{
        overflow-x: hidden;
    } */
    #header{
        background-image: url(/assets/img/phone-bg.png);
    };

    .services,
    .portfolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }

    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 750px){
    #header{
        background-image: url(/assets/img/phone-bg.png);
    }
   .social-icons a{
        margin: 2.5rem .75rem 3rem;
    }
    .header-text h1{
        margin-top: 20%;
        font-size: 30px;
        font-weight: 600;
        columns: var(--white-color);
    }


/* =========about section responsiveness */
    /* services section responsiveness */
    .services h2,
    .portfolio h2{
        margin-bottom: 3rem;
    }

    /* porfolio section responsiveness */
    .portfolio .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }

    /* testimonial section responsiveness */
    .testimonial-container .testimonial-wrapper{
        padding: 2rem 0;
    }
    .testimonial-content .testimonial-slide{
        padding: 1rem 0.5rem;
    }
    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev{
        display: none;
    }
}

nav .fas{
    display: none;
} 

/*=================Media quary small screen================= */
@media (max-width: 630px){

    #header{
        background-image: url(/assets/img/phone-bg.png);
    };

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        margin-top: 35%;
        font-size: 40px;
        background: #302b2ba2;
    }
    nav .fas{
        color: var(--white-color);
        display: block;
        font-size: 25px;
    }

    nav ul{
        background: var(--bg-color);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 1s ease;
    }
    nav ul li{
        display: block;
        margin: 25px; 
    } 

     nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
     }

     /* ======================about media query @ 630==================== */
     
     .sub-title{
        font-size: 40px;
     }
     .about-col-1, .about-col-2{
        flex-basis: 100px;
     }
     .about-col-1{
        margin-bottom: 30px;
     }
     .about-col-2{
        font-size: 14px;
     }
     .tab-link{
        font-size: 16px;
        margin-right: 20px;
     }
     .row{
        display: block;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .portfolio .portfolio-container{
        grid-template-columns: 1fr;
    }
}


@media (max-width: 450px){

    .header-text h1{
        margin-top: 45%;
        font-size: 40px;
        color: var(--white-color);
    }
    html{
        font-size: 50%;
    }
    .home .portfolio-box .portfolio:nth-child(1){
        transform: rotate(-90deg) translate(-110px, -220px);
    }
    .home .portfolio-box .portfolio:nth-child(2){
        transform: rotate(0deg) translate(5px, -335px);
    }
    .home .portfolio-box .portfolio:nth-child(3){
        transform: rotate(90deg) translate(105px, -440px);
    }
    .home .portfolio-box .portfolio:nth-child(4){
        transform: rotate(180deg) translate(-210px, -335px);
    }
    .contact form .input-box input{
        width: 100%;
    }
}

@media (max-width: 380px){
    /* .about-img img{
        width: 90vw;
    } */
    .header-text h1{
        margin-top: 50%;
        font-size: 40px;
        color: var(--white-color);
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}